@media (max-width: 768px) {
  .event-detail {
    .event-heading {
      margin-top: -.3rem;

      .share-btn {
        position: absolute;
        left: 85%;
        transform: translate(0%, -50%)
      }
    }

    .event-desc {
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}

.event-desc {
  ul, ol {
    margin-left: 1rem;
  }
}

.event-heading {
  position: relative;

  .share-btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}

.rating-score {
  font-weight: bold;
  font-size: 1.55rem;
  border: 1px solid #cfcfcf;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  color: #999;
  background: #fff;
}

.feat-slide {
  object-fit: cover;
}