@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/src/sweetalert2';
@import '~vuetify/dist/vuetify.min.css';
@import '../../node_modules/quill/dist/quill.core.css';

@import 'elements/login';
@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';
@import 'elements/settings';
@import 'elements/admin';

@import 'pages/event';
@import 'pages/ticket';
@import 'pages/camera';

body {
  height: 100vh;
  width: 100vw;
}

body.modal-open {
  position:static !important;
  overflow:visible;
  padding:0 !important;
}