.stepper {
  background: none !important;
  box-shadow: none !important;

  .v-stepper__step--complete {
    .primary {
      background: #28a745 linear-gradient(180deg, #47b360, #28a745) repeat-x !important;

      i:after {
        visibility: visible;
        content: "✓";
        position: absolute;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

  .primary{
    background: #007bff linear-gradient(180deg, #258efe, #007bff) repeat-x;
    
    i {
      visibility: hidden;
      position: relative;
    }
  }

  select:focus {
    outline: none !important;
    border-color: rgb(206, 212, 218) !important;
    box-shadow: none !important;
  }

  .datepicker {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    margin: 0 auto;

    input {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.125rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }

  .ql-container {
    background: white !important;
  }

  .nav-item {
    .nav-link {
      border-radius: 0.125rem;
    }
  
    .active {
      background: #007bff linear-gradient(180deg, #258efe, #007bff) repeat-x;
      
      &:hover {
        color: white;
      }
    }
  }

  button.close {
    &:focus {
      outline: none;
    }
  }

  .ticket:after {
      content: "";
      position: absolute !important;
      z-index: 100;
      top: 0;
      left: 0;
      border-right: #fff 7px solid;
      border-bottom: #fff 7px solid;
      -moz-border-radius: 0 0 20px 0;
      -webkit-border-radius: 0 0 20px 0;
      border-radius: 0 0 20px 0;
  }
  
  .ticket:before {
      content: "";
      position: absolute !important;
      z-index: 100;
      top: 0;
      right: 0;
      border-left: #fff 7px solid;
      border-bottom: #fff 7px solid;
      -moz-border-radius: 0 0 0 20px;
      -webkit-border-radius: 0 0 0 20px;
      border-radius: 0 0 0 20px;
  }

  .modal-icon-container {
    overflow: hidden;

    .modal-icon {
      filter: blur(.2rem);
      transform: scale(1.1);
    }

    .modal-icon-name {
      left: 0;
      top: 0;
      right: 0;
      transform: translateY(250%);
      color: white;
    }

    &:hover {
      .modal-icon {
        filter: none;
      }

      .modal-icon-name {
        display: none;
      }
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.v-stepper--vertical .v-stepper__content {
  margin-left: 11px !important;

  .theme-blue .vdatetime-popup__header,
  .theme-blue .vdatetime-calendar__month__day--selected > span > span,
  .theme-blue .vdatetime-calendar__month__day--selected:hover > span > span {
    background: #007bff linear-gradient(180deg, #258efe, #007bff) repeat-x;
  }

  .theme-blue .vdatetime-year-picker__item--selected,
  .theme-blue .vdatetime-time-picker__item--selected,
  .theme-blue .vdatetime-popup__actions__button {
    color: #007bff linear-gradient(180deg, #258efe, #007bff) repeat-x;
  }
}

.v-list-item__subtitle {
  font-size: 0.95rem;
}